*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(to bottom,#68EACC 0%,#497BEB 100%);
}

.container{
    background-color:lightsalmon;
    margin: auto;
    padding: 0.5rem;
}

.heading{
    font-size: xx-large;
    color: black;
}

p{
    font-size: x-large;
    color:darkblue;
}

label{
    display: block;
    font-weight: bolder;
    font-size: x-large;
    margin: 1rem;
}

input{
    margin: auto;
    padding: 10px;
    width: 40%;
}

#check-button{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 30%;
    height: 20%;
    background-color: cadetblue;
    border-radius: 5px;
}

#check-button:hover{
    background-color: blueviolet;
}

#error-message{
    font-size: x-large;
    color:darkred;
}
h2{
    display: block;
    font-weight: bolder;
    font-size: x-large;
    margin: 1rem;
    text-align: center;
    justify-content: center;
}

table{
    border: 3px solid black;
    border-radius: 5px;
    margin: auto;
}

td, th{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: larger;
}

#No-Of-Notes{
    color: darkblue;
    background-color: lightskyblue;

}

.no-of-notes{
    color: darkblue;
    background-color: lightskyblue;
}

.available-notes{
    color: darkgreen;
    background-color: lightgreen;
}


